<section id="about-me">
  <div class="grid">
    <p class="title"><strong>About Me</strong></p>
    <div class="outline"></div>
    <p class = "description">
      Hello! I'm Ivy, a software engineer based in New Jersey.
      <br>
      <br>
      I enjoy creating things that live on the internet, whether that
      be websites, applications, or anything in between. My goal is
      to always build products that provide pixel-perfect,
      performant experiences.
      <br>
      <br>
      I am currently a junior at Rutgers University majoring in 
      computer science and art. Aside from work and school, I enjoy 
      drawing and singing with my friends.
      <br>
      <br>
    </p>
    <div class="categories-container">
      <button class="category" id="hobbies">Hobbies</button>
      <button class="category" id="interests">Interests</button>
      <button class="category" id="education">Education</button>
      <button class="category" id="technology">Technologies</button>
    </div>
    <div id="container"></div>
    <div class="profile-pic">
      <img src="assets/img/portfolio-pic.jpg" alt="profile-pic" class="profile-pic">
      <div class="blue-accent-box"></div>
    </div>
  </div>
</section>