<section id="experience">
  <div class="grid">
    <p class="title"><strong>Experience Timeline</strong></p>
    <div class="timeline"></div>
    <div class = "event-container grid" id="time-1">
      <p class="bullet">⦿</p>
      <p class="year">2016</p>
      <p class="place">Art Assistant @ Jian Studio</p>
      <div class="explanation" id="time-1-explanation" >
        Instructed students from ages 5-15 on key principles of traditional artwork including acrylic, watercolor, and pastel
      </div>
    </div>
    <div class = "event-container-left grid" id="time-2">
      <p class="bullet">⦿</p>
      <p class="year">2018</p>
      <p class="place">Volunteer @ SBPL</p>
      <div class="explanation" id="time-2-explanation" >
        Spent time shelving books, doing clerical duties, and working with kids in the arts and crafts department
      </div>
    </div>
    <div class = "event-container grid" id="time-3">
      <p class="bullet">⦿</p>
      <p class="year">2019</p>
      <p class="place">Web Development Intern @ MISTRAS Group Inc.</p>
      <div class="explanation" id="time-3-explanation">
        Worked with Umbraco v8 (ASP.NET based open source CMS)  in order to create translated versions of the main site
      </div>
    </div>
    <div class = "event-container-left grid" id="time-4">
      <p class="bullet">⦿</p>
      <p class="year">2020</p>
      <p class="place">Software Development Intern @ Aersys Inc.</p>
      <div class="explanation" id="time-4-explanation">
        Headed the entire development of over 25 screens for the company's retail kiosk web application using Kotlin JS
      </div>
    </div>
  </div>
</section>


