<section id="experience">
  <div class="grid">
    <p class="title"><strong>Experience Timeline</strong></p>
    <div class="timeline"></div>
    <div class = "event-container grid" id="time-1">
      <p class="bullet">⦿</p>
      <p class="year">2016</p>
      <p class="place">Art Assistant @ Jian Studio</p>
      <div class="explanation" id="time-1-explanation" >
        <li>    Instructed students from ages 5-15 on key principles of traditional artwork including acrylic, watercolor, and pastel</li>
        <li>Volunteered time to organize the studio, arrange student artboards, and clean art materials on a weekly basis</li>
      </div>
    </div>
    <div class = "event-container-left grid" id="time-2">
      <p class="bullet">⦿</p>
      <p class="year">2018</p>
      <p class="place">Volunteer @ SBPL</p>
      <div class="explanation" id="time-2-explanation" >
        <li>    Instructed students from ages 5-15 on key principles of traditional artwork including acrylic, watercolor, and pastel</li>
        <li>Volunteered time to organize the studio, arrange student artboards, and clean art materials on a weekly basis</li>
      </div>
    </div>
    <div class = "event-container grid" id="time-3">
      <p class="bullet">⦿</p>
      <p class="year">2019</p>
      <p class="place">Web Development Intern @ MISTRAS Group Inc.</p>
      <div class="explanation" id="time-3-explanation">
        <li>Coordinated the front-end product website in order to display information on a BigCommerce site by parsing JSON</li>
        <li>Worked with Umbraco v8 (ASP.NET based open source CMS)  in order to create translated versions of the main site</li>
      </div>
    </div>
    <div class = "event-container-left grid" id="time-4">
      <p class="bullet">⦿</p>
      <p class="year">2020</p>
      <p class="place">Software Development Intern @ Aersys Inc.</p>
      <div class="explanation" id="time-4-explanation">
        <li>Headed the entire development of over 25 screens for the company's retail kiosk web application using Kotlin JS</li>
        <li>Implemented key UI/UX design principles to design a modern front-end interface, as well as, stylized using  CSS</li>
      </div>
    </div>
  </div>
</section>


