<!-- Introductions -->
<section id="intro-page">
    <div class="grid">
        <p class="name-is-text">Hi, my name is</p>
        <h1 class="name-text">Ivy Wang.</h1>
        <h1 class="blurb-text">I build and design for the web.</h1>
        <p class = "bio-text">I'm a software engineer from Kendall Park, NJ 
            specializing in building and designing exceptional websites, 
            applications, and everything in between.</p>
        <button class="button"><h3>Get In Touch</h3></button>
    </div>
</section>