<!-- Introductions -->
<section id="intro-page">
    <div class="grid">
        <p class="name-is-text">Hi, my name is</p>
        <h1 class="name-text">Ivy Wang.</h1>
        <h1 class="blurb-text">I build and design for the web.</h1>
        <p class = "bio-text">I'm a software engineer from New Jersey
            and my goal is to always build applications that provide
            pixel-perfect, performant experiences. I enjoy designing things
            that integrate logics with creativity to create meaningful things
            for the world.
        </p>
    </div>
</section>