<section id="projects">
    <div class="grid">
      <p class="title"><strong>Projects I've Done</strong></p>
      <div class = "project-container grid" id="project-1">
        <a href="https://github.com/iw18/VersionControlSystem" class="name hover">Version Control System</a>
        <p class="technology">C, Threads (mutex), Sockets</p>
        <div class="explanation" id="project-1-explanation" >
            Programmed a fully functional version control system (push, pull, commit,etc..) that allows for multiple clients at once
        </div>
      </div>
      <div class = "project-container grid" id="project-2">
        <a href="https://github.com/iw18/Pathfinding" class="name  hover">Pathfinding</a>
        <p class="technology">C#, Unity, A*</p>
        <div class="explanation" id="project-2-explanation" >
            Created a crowd simulations of agents that find the best path to traverse through an environment given many obstacles            
        </div>
      </div>
      <div class = "project-container grid" id="project-3">
        <a href="https://github.com/iw18/Roll-A-Ball" class="name  hover">Roll-A-Ball</a>
        <p class="technology">C#, Unity, WebGL</p>
        <div class="explanation" id="project-3-explanation">
            A multiplayer game that allows for two people two collect coins with a ball. 
        </div>
      </div>
      <div class="github-link">View More Projects</div>
      <img class="arrow" src="assets/img/arrow.svg">
    </div>
  </section>
  
  
  